{% extends "layout/base.html" %}

{% block title %}
Onlyflans
{% endblock %} 

{% block content %} 

<style>
    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        font-size: 1.2em; /* Aumenta el tamaño de la letra */
        font-weight: bold; /* Negrita */
        color: black; /* Color de texto negro */
        background-color: #ffcccb; /* Fondo rosado */
        border-color: #591491; /* Color del borde rosado más oscuro */
    }
</style>

<div class="container mt-5">
    <!-- Mostrar mensajes de éxito -->
    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                {{ message }}<br>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container mt-5">
        <div class="row justify-content-center"> <!-- Añadido justify-content-center para centrar -->
            {% for flan in flanes_publicos %}
            <div class="col-md-3"> <!-- Cambiado a col-md-3 para 4 por fila -->
                <div class="card mb-4">
                    <img src="{{ flan.image_url }}" class="card-img-top" alt="{{ flan.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ flan.name }}</h5>
                        <p class="card-text">{{ flan.description }}</p>
                        <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
</div>

{% endblock %}
