<header class="text-center" style="background-color: #e063c5; padding: 20px 0;">  <!-- Color morado pálido -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEj9HxE2N39UN7TV4K9064zcF04tDsH_svyA&s" alt="Logo de Onlyflans" class="img-fluid" style="max-width: 100%;">
            </div>
            <div class="col-md-6">
                <h1 class="display-4 text-dark font-weight-bold">Bienvenido a Onlyflans</h1>
                <h3 class="lead text-dark font-weight-bold">Esta es una página web de venta de "flanes"</h3>
            </div>
        </div>
    </div>
</header>
